.formField h4 h5 {
  margin: auto;
  width: 100%;
}




.form-field label
 {
  display: flex;
  flex-direction: column;
  margin: 10px;
  color:#4b4b4b !important;
   font-family: 'Ubuntu', sans-serif !important;
   font-weight: 400 !important;
   letter-spacing: 2.0px;
 }


.form-section
 {
   display: flex;
   flex-wrap: wrap;
   max-width: 100%;
   justify-content: space-around;
   margin: 40px 0px 40px 0px;
   align-items: flex-end;
 }

.size-input {
  max-width: 30%;
}



.form-header {
  width: 100%;
}

#heightl, #widthl {
 height: 30px;
 font-size: 24px !important;
  width: 120px;
  max-width: 200px
}

.form-section input{
	background: #3e3e3e;
	width: 140px !important;
	font-size: 28px !important;
	color: #A2A2A2;
	text-align: center;
}

#multiply-sign {
  font-size: 50px;
  font-weight: 100;
  color: rgb(173, 173, 173);
}



.form-field label > input{ /* HIDE RADIO */
  visibility: hidden; /* Makes input not-clickable */
  position: absolute; /* Remove input from document flow */
}
.form-field label > input + img,
.form-field label > input + div{ /* IMAGE STYLES */
  cursor:pointer;
  border:2px solid transparent;
}

.form-field label > input:hover + img,
.form-field label > input:hover + div{ /* (RADIO CHECKED) IMAGE STYLES */
  border:4px solid #a8a8a8;
  border-radius: 1%;
}

.form-field label > input:checked + img,
.form-field label > input:checked + div{ /* (RADIO CHECKED) IMAGE STYLES */
  border:4px solid #b9874c;
  border-radius: 1%;
}



































]
